player-connection-mode=Listen
player-connection-guid=2373380127
player-connection-debug=1
player-connection-project-name=TZ_1
player-connection-ip=192.168.1.100
player-connection-ip=25.9.204.133
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=365d03b132234b33aac1119be842465a
